body {
  background-color: #f7f7f7;
  color: #686868;
  font-family: 'Roboto', sans-serif;
}

.body {
  display: flex;
}

.searchSideBar {
  background-color: #D3D3D3;
  width: 250px;
  /* height: 95vh; */
  margin-right: 10px;
  padding: 45px;
}

.searchButton {
  background-color: #87cefa;
  color: #f7f7f7;
  border-radius: 3px;
  border: none;
  width: 175px;
  height: 50px;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.5em;
  letter-spacing: 2px;
}

.searchButton:hover {
  cursor: pointer;
}


input {
  border-radius: 3px;
  outline: none !important;
  border: 1px solid #686868;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 20px;
  color: #686868;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

footer {
  background-color: #87cefa;
  position: static;
  bottom: 0;
  padding: 15px;
  width: 95vw;
  text-align: center;
}